<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @photo.image_url,class:"img-responsive" if @photo.image.present? %>
</p>

<p>
  <strong>タイトル</strong>
  <%= @photo.title %>
</p>

<p>
  <strong>思い出</strong>
  <%= @photo.memory %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
